.confirm {
    height: 10.67rem;
    width: 19.20rem;
    border-radius: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    font-size: .682rem;
    transition: .3s;
    z-index: 2016;
}

.confirm .confirm-header {
    padding-top: .768rem;
    height: 1.79rem;
    text-align: center;
    font-size: 1.682rem;
    line-height: 1.79rem;
    color: #333;
    font-weight: bold;
}

.confirm .confirm-title {
    padding: .85rem 1.7rem;
    font-size: 1.23rem;
    color: #177441;
    text-align: center;
    line-height: 2.56rem;
    height: 2.56rem;
}
.confirm .confirm-btns {
    background: #177441;
    width: 19.20rem;
    border-radius: .5rem
}
.confirm .confirm-btns .confirm-btn-cancel {
    width: 50%;
    height: 3.86rem;
    color: #fff;
    line-height: 3.84rem;
    text-align: center;
    font-size: 2rem;
    display: inline-block;

}

.confirm .confirm-btns .confirm-btn-confirm {
    width: 50%;
    height: 3.86rem;
    color: #fff;
    line-height: 3.84rem;
    text-align: center;
    font-size: 2rem;
    display: inline-block;
    float: right;

}

.v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
    z-index: 2015;
}

.message {
    width: 11.096rem;
    height: 12.80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    border-radius: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000;


}

.message .message-icon {
    /*width: 11.096rem;*/
    display: flex;
    padding: .5rem 1.85rem;
    margin: 0 auto;
    flex: 2;
}

.message .message-icon .icon-class {
    /*width: 11.096rem;*/
    display: flex;
    font-size: 8.1rem;
    color: #fff;

}

.message .message-title {
    flex: 1;
    width: 100%;
    color: #fff;
    text-align: center;
    height: 2.98rem;
    line-height: 2.98rem;
    font-size: 1rem;
}

input {
    margin: 0em;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    border: none;
}

input:hover {
    outline: none;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: none;
}

/*!*定义滚动条轨道 内阴影+圆角*!*/
/*::-webkit-scrollbar-track*/
/*{*/
    /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);*/
    /*border-radius: 10px;*/
    /*background-color: #177441;*/
/*}*/
/*!*定义滑块 内阴影+圆角*!*/
/*::-webkit-scrollbar-thumb*/
/*{*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    /*background-color: #555;*/
/*}*/

